<div ng-controller="usergateCtrl">

	<table>
		<tr>
			<td>Firt Name</td>
			<td><input ng-model="account.firstName" type="text" /></td>
		</tr>
		<tr>
			<td>Last Name</td>
			<td><input ng-model="account.lastName" type="text" /></td>
		</tr>
		<tr>
			<td>Id Number</td>
			<td><input ng-model="account.idNumer" type="text" /></td>
		</tr>
		<tr>
			<td>Emai</td>
			<td><input ng-model="account.email" type="text" /></td>
		</tr>
		<tr>
			<td>Mobile</td>
			<td><input ng-model="account.mobile" type="text" /></td>
		</tr>
		<tr>
			<td>Username</td>
			<td><input ng-model="account.username" type="text" /></td>
		</tr>
		<tr>
			<td>Password</td>
			<td><input ng-model="account.password" type="password" /></td>
		</tr>
		<tr>
			<td>Password Two</td>
			<td><input ng-model="account.password2" type="password" /></td>
		</tr>
<tr>
 			<td colspan="1"> <input type="button" ng-click="createaccount()" value="Create Acount" /></td>
		</tr>
	</table>
</div>