<div ng-controller="profileController" ng-show="true">
	<div class="table-responsive" style="width: 40%">
		<table class="table table-hover">
			<tr>
				<td>Surname</td>
				<td>{{profile.surname}}</td>
			</tr>
			<tr>
				<td>Name</td>
				<td>{{profile.name}}</td>
			</tr>
			<tr>
				<td>Id Number</td>
				<td>{{profile.idnumber}}</td>
			</tr>
			<tr>
				<td>Username</td>
				<td>{{profile.username}}</td>
			</tr>
			<tr>
				<td>Cell</td>
				<td>{{profile.mobile}}</td>
			</tr>
			<tr>
				<td>Email</td>
				<td>{{profile.email}}</td>
			</tr>
		</table>
		<hr />
		<span ng-if="profile.hasDocs">
			<table ng-show="true">
				<tr>
					<td>Document Id</td>
					<td>Doc Name</td>
					<td>Uploaded By</td>
				</tr>
				<tr ng-repeat="doc in profile.documents">
					<td>{{doc}}</td>
				</tr>
			</table>
		</span>
	</div>
</div>