[Desktop Entry]
Encoding=UTF-8
Name=Link to Drag to Install! Drag to your running Eclipse workspace.
Type=Link
URL=http://marketplace.eclipse.org/marketplace-client-intro?mpc_install=1605088
Icon=text-html
