<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.fusesource.ide.launcher.camelContext">
<stringAttribute key="M2_GOALS" value="clean package org.apache.camel:camel-maven-plugin:run"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_INSTALL_NAME" value="jdk1.7.0_76"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_INSTALL_TYPE_ID" value="org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType"/>
<stringAttribute key="org.fusesource.ide.launcher.debug.jmx.uri" value="service:jmx:rmi:///jndi/rmi://localhost:1099/jmxrmi/camel"/>
<stringAttribute key="rider.file" value="camelContext.xml"/>
</launchConfiguration>
